<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>288513099403-jfnfg330vnptpi94ciib8ei3b90ip5o2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.288513099403-jfnfg330vnptpi94ciib8ei3b90ip5o2</string>
	<key>API_KEY</key>
	<string>AIzaSyDOPjDfTUdj2xrW2x6PgnttUwCm-KkMwCQ</string>
	<key>GCM_SENDER_ID</key>
	<string>288513099403</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appChallengeFive</string>
	<key>PROJECT_ID</key>
	<string>challenge-five</string>
	<key>STORAGE_BUCKET</key>
	<string>challenge-five.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:288513099403:ios:4c01f8b9c6e8886452368e</string>
</dict>
</plist>